#img-bg{
    background-image: url("https://nova-escola-producao.s3.amazonaws.com/GfWGwVTH6B2Fe6c7VUTktGx9NhDMexkwzpXJYDKG2ZxwKdNB3XVp7hDndWnP/professor-no-trabalho-remoto.jpg");
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}